# Ignore all files...
*.*

# ...except the ones we want
!.gitignore
!App.js
!/components/logo/*
!/components/styles/*
!/components/ui/*
!/components/setup/*
!/components/navbar/*
!/containers
!/components/*
!/containers/*
